<p id="notice"><%= notice %></p>

<p>
  <strong>Author Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Author Birth Date</strong>
  <%= @user.date_of_birth %>
</p>

<p>
   <strong>Author Email</strong>
   <%= @user.email %>
</p>  

<p>
   <strong>Number of Books</strong>
   <%= @user.books.size %>
</p>  

<td><%= link_to 'Back', users_path, class: "back1" %></td>